@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-back-color: #1e1e1e;
  --color-main-red: #fd0100;
  --color-main-orange: #fe6408;
  --color-main-yellow: #fffd01;
  --color-kupchino: #0087bf;
  --color-shushari: #8e479e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Balkara Condensed';
  src: url('../../public/font/BalkaraFreeCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Balkara Condensed', sans-serif;
}